* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --image-border: 1px solid black;
    --box-shadows: 0 0 30px gray;
    --image-pad: 1px;
    --header-text-color: rgb(10, 78, 78);
    --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    max-width: 840px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 130px;
    color: black;
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
}

aside img {
    width: 200px;
    height: auto;
    border: var(--image-border);
    box-shadow: var(--box-shadows);
    padding: var(--image-pad);
}

nav {
    background-color: rgb(10, 78, 78);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    font-family: cursive;
    display: inline-block;
}

h1 {
    color: rgb(10, 78, 78);
}

main img {
    width: 150px;
    height: auto;
    border: var(--image-border);
    padding: var(--image-pad);
    box-shadow: var(--box-shadows);
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

p {
    padding: 0;
    font-family: var(--font-family);
}

footer {
    margin-top: 10px;
    border-top: 1px dotted rgb(1, 104, 104);
    text-align: center;
    padding-top: 10px;
}

/* Class Selectors */

.box {
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(209, 208, 208);
    color: #000;
    margin-bottom: 20px;
    margin-top: 5px;
}

.header {
    margin-top: 15px;
    color: var(--header-text-color);
}

li {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}